
  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>About Us</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>About Us</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container-fluid">

        <div class="row">

          <div class="col-lg-5 align-items-stretch video-box" style="background-image: url(/assets/img/pexels-ryutaro-tsukata-5745021.jpg);" >
          </div>


          <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">

            <div class="content">
              <h3>Welcome to Keansburg Pack, <strong> where innovation meets excellence.</strong></h3>
              <p>
                Welcome to the heart and soul of Keansburg Pack. We're more than just a company;
                 we're a passionate team driven by a shared vision and unwavering commitment. 
                Our story is woven into the fabric of what we do, and it's a tale we're proud to share with you.
              </p>
              <p class="fst-italic">
                We're a diverse and dedicated team of individuals, each bringing a unique set of skills and experiences to the table. From our visionary leaders to the hardworking folks behind the scenes, 
                we're united by a shared passion for excellence. Together, we create magic.
              </p>
              <ul>
                <li><i class="bx bx-check-double"></i> We're not just a Pack; we're a community.</li>
                <li><i class="bx bx-check-double"></i> The future holds boundless possibilities, and we're excited to be a part of it.</li>
                <li><i class="bx bx-check-double"></i> When you choose Keansburg Pack, you're not just choosing a service; you're choosing a partner.</li>
              </ul>
              <p>
                We are a diverse team of talented individuals, each bringing a unique set of skills and experiences
                 to the table. Our collective expertise spans various domains, from technology and design to customer service and project management. 
                This diversity fuels our creativity and enables us to approach challenges from multiple perspectives.
              </p>
            </div>

          </div>

        </div>

      </div>
    </section>
    <!-- End About Section -->

    <!-- ======= Whu Us Section ======= -->
   <section id="why-us" class="why-us">
    <div class="container">

      <div class="section-title">
        <h2>Why choose <span>KeansBurg Park</span></h2>
        <p>Our Park offers a wide Range of unique and variety of activities , natural beauty , great accessibility, top notch safety , wellness and relaxation , excellent community atmosphere and indeed well maintained facilities to offer fulfilling experience and life-long memories.</p>
      </div>

      <div class="row">

        <div class="col-lg-4">
          <div class="box">
            <span>01</span>
            <h4>Dragon Arena</h4>
            <p>The fire of adventure is  designed to provide a wide range of Thrilling Rides , Dragon swing , fire rollercoaster ,
              Dancing Tail , Dinosaur park , Dragon shop and lots more.</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box">
            <span>02</span>
            <h4>KeansBurg Business Resort</h4>
            <p>The heartbeat of the east Where work meets pleasure in leisure , we are designed to cater to the travelers, families, organization and            
              We offer an array of services that go beyond Earth's imagination</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
     
          <div class="box">
            <span>03</span>
            <h4>KeansBurg Waterpark</h4>
            <p>Splash of Sunshine in a scorching summer, in the heart of the east , A waterpark like no other" KeansBurg waterpark" known for its serene pools and definitely unforgetticket experiences . </p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Whu Us Section -->
  
      <!-- Developing team-->
      <section id="chefs" class="chefs">
        <div class="container">
  
          <div class="section-title">
            <h2>Our Proffesional <span>Developers</span></h2>
            <p>Behind every exceptional product, website, or software application lies a team of 
              dedicated professionals, and we're proud to introduce you to the driving force behind our digital success - our professional developers.</p>
          </div>
  
          <div class="row">
  
            <div class="col-lg-3 col-md-6">
              <div class="member">
                <div class="pic"><img src="/E-project Website/assets/img/tamsam.jpeg class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Donald Ebasitamsam</h4>
                  <span>UI/UX Designer</span>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6">
              <div class="member">
                <div class="pic"><img src="/assets/img/joe.jpg" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Joseph Effiong</h4>
                  <span>Project Manager</span>
                  <div class="social">
                    <a href="https://twitter.com/Joseph59394962"><i class="bi bi-twitter"></i></a>
                    <a href="https://web.facebook.com/profile.php?id=100069713229214"><i class="bi bi-facebook"></i></a>
                    <a href="https://www.instagram.com/jos_eff_keyz/"><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6">
              <div class="member">
                <div class="pic"><img src="/assets/img/Wills.jpg" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>William Inyang</h4>
                  <span>Senior Developer</span>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6">
              <div class="member">
                <div class="pic"><img src="/assets/img/Emma.jpg" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Emmanuel Ushie</h4>
                  <span>Senior Devoloper</span>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Chefs Section -->

      <section class="home-contact-area pb-100">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-lg-6 ps-0 contact-img">
              <div class="contact-img">
                <img src="assets/img/chefs/chefs-3.jpg" alt="contact" />
              </div>
            </div>
            <div class="col-lg-6 contact-form">
              <div class="home-contact-content">
                <h2>What Do You Want to Know?</h2>
                <form id="contactForm">
                  <div class="row">
                    <div class="col-lg-6 col-sm-6">
                      <div class="form-group">
                        <input type="text" name="name" id="name" class="form-control" required
                          data-error="Please enter your name" placeholder="Your Name" />
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                      <div class="form-group">
                        <input type="email" name="email" id="email" class="form-control" required
                          data-error="Please enter your email" placeholder="Your Email" />
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                      <div class="form-group">
                        <input type="text" name="phone_number" id="phone_number" required
                          data-error="Please enter your number" class="form-control" placeholder="Your Phone" />
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                      <div class="form-group">
                        <input type="text" name="msg_subject" id="msg_subject" class="form-control" required
                          data-error="Please enter your subject" placeholder="Your Subject" />
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                      <div class="form-group">
                        <textarea name="message" class="form-control" id="message" cols="30" rows="5" required
                          data-error="Write your message" placeholder="Your Message"></textarea>
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                      <button type="submit" class=" text-center box-btn">
                        Send Message
                      </button>
                      <div id="msgSubmit" class="h3 text-center hidden"></div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>

  </main><!-- End #main -->

  