<main id="main">
    <div class="disclaimer-container" ng-show="showDisclaimer">
        <h2>Disclaimer</h2>
        <p>Disclaimer for Keansburg Park

            Disclaimer of Liability:
            Keansburg Park and its management team make every effort to ensure the safety and enjoyment of all visitors. However, visitors are reminded that the use of the park's facilities and participation in activities within the park are done at their own risk.
            
            Assumption of Risk:
            By entering and using Keansburg Park, visitors acknowledge and accept that there are inherent risks associated with outdoor recreational activities. These risks may include, but are not limited to, tripping, falling, encountering wildlife, or other unforeseen circumstances.
            
            Supervision of Children:
            Parents and guardians are responsible for the supervision and safety of their children while within Keansburg Park. Children should not be left unattended.
            
            Rules and Regulations:
            Visitors are expected to adhere to all posted rules and regulations within Keansburg Park. Failure to do so may result in the revocation of park privileges.
            
            Environmental Stewardship:
            Visitors are encouraged to help protect the natural environment of Keansburg Park by disposing of litter in designated bins, refraining from damaging plant life, and respecting wildlife.
            
            Personal Belongings:
            Keansburg Park is not responsible for lost or stolen personal belongings. Visitors are encouraged to secure their belongings and valuables.
            
            Medical Emergencies:
            In the event of a medical emergency within the park, visitors should call emergency services immediately. Keansburg Park does not provide medical assistance.
            
            Changes and Updates:
            Keansburg Park reserves the right to modify or update park rules, hours of operation, and facilities without prior notice.
            
            By entering Keansburg Park, visitors agree to abide by these terms and conditions and accept the inherent risks associated with outdoor activities. Visitors who do not agree with these terms are advised not to enter the park.
            
            Thank you for your cooperation and enjoy your visit to Keansburg Park.</p>
        <button ng-click="hideDisclaimer()">Close</button>
    </div>

</main>