
  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Gallery</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Gallery</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->
    

     <!-- ======= Gallery Section ======= -->
     <section id="gallery" class="gallery">
      <div class="container-fluid">

        <div class="section-title">
          <h2>Some interestig photos from <span>Our Pack</span></h2>
          <p>ur Gallery is a celebration of diversity and creativity. From breathtaking landscapes 
            to intricate artwork, from candid moments to meticulously composed scenes, our collection showcases the incredible range of attractions.</p>
        </div>

        <div class="row g-0">

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/10-images-from-a-museum_WpE-9x7u_upscaled.jpg" class="gallery-lightbox">
                <img src="/assets/img/10-images-from-a-museum_WpE-9x7u_upscaled.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/10-images-from-a-museum_uCiTXivQ_upscaled.jpg" class="gallery-lightbox">
                <img src="/assets/img/10-images-from-a-museum_uCiTXivQ_upscaled.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/909098088.jpg" class="gallery-lightbox">
                <img src="/assets/img/909098088.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/eb940c8b-53a5-41c8-acab-3b1bb9cd9e84.jpeg" class="gallery-lightbox">
                <img src="assets/img/eb940c8b-53a5-41c8-acab-3b1bb9cd9e84.jpeg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/event-birthday.jpg" class="gallery-lightbox">
                <img src="/assets/img/event-birthday.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/event-custom.jpg" class="gallery-lightbox">
                <img src="/assets/img/event-custom.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/event-private.jpg" class="gallery-lightbox">
                <img src="/assets/img/event-private.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/hjhjhjhjhjhjhjhj.jpg" class="gallery-lightbox">
                <img src="/assets/img/hjhjhjhjhjhjhjhj.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/ghggghghgh.jpg" class="gallery-lightbox">
                <img src="/assets/img/ghggghghgh.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/pexels-kampus-production-8623326.jpg" class="gallery-lightbox">
                <img src="/assets/img/pexels-kampus-production-8623326.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/new12.jpg" class="gallery-lightbox">
                <img src="/assets/img/new12.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/new2.jpg" class="gallery-lightbox">
                <img src="/assets/img/new2.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/image_VEE2Dmy7_1693863499889_raw.jpg" class="gallery-lightbox">
                <img src="/assets/img/image_VEE2Dmy7_1693863499889_raw.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/mhen 27.jpg" class="gallery-lightbox">
                <img src="/assets/img/mhen 27.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/mhen1.jpg" class="gallery-lightbox">
                <img src="/assets/img/mhen1.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/HOV.jpeg" class="gallery-lightbox">
                <img src="/assets/img/HOV.jpeg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/imagep.jpg" class="gallery-lightbox">
                <img src="/assets/img/imagep.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/IMG_3036.jpeg.jpg" class="gallery-lightbox">
                <img src="/assets/img/IMG_3036.jpeg.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/pexels-kampus-production-8623433.jpg" class="gallery-lightbox">
                <img src="/assets/img/pexels-kampus-production-8623433.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/IMG_3038.jpeg.jpg" class="gallery-lightbox">
                <img src="/assets/img/IMG_3038.jpeg.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/new11.jpg" class="gallery-lightbox">
                <img src="/assets/img/new11.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/mhen29.jpg" class="gallery-lightbox">
                <img src="/assets/img/mhen29.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/new13.jpg" class="gallery-lightbox">
                <img src="/assets/img/new13.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/new17.jpg" class="gallery-lightbox">
                <img src="/assets/img/new17.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          
          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/pexels-asad-photo-maldives-3155726.jpg" class="gallery-lightbox">
                <img src="/assets/img/pexels-asad-photo-maldives-3155726.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/pexels-burak-the-weekender-735869.jpg" class="gallery-lightbox">
                <img src="/assets/img/pexels-burak-the-weekender-735869.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/pexels-chan-walrus-958545.jpg" class="gallery-lightbox">
                <img src="/assets/img/pexels-chan-walrus-958545.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/pexels-huỳnh-đạt-2313037.jpg" class="gallery-lightbox">
                <img src="/assets/img/pexels-huỳnh-đạt-2313037.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/pexels-kampus-production-8623326.jpg" class="gallery-lightbox">
                <img src="/assets/img/pexels-kampus-production-8623326.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>
        
          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/pexels-life-of-pix-67468.jpg" class="gallery-lightbox">
                <img src="/assets/img/pexels-life-of-pix-67468.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/pexels-lisa-fotios-776538.jpg" class="gallery-lightbox">
                <img src="/assets/img/pexels-lisa-fotios-776538.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/pexels-pixabay-258154.jpg" class="gallery-lightbox">
                <img src="/assets/img/pexels-pixabay-258154.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          
          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/pexels-pranav-jain-1707957.jpg" class="gallery-lightbox">
                <img src="/assets/img/pexels-pranav-jain-1707957.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/pexels-rachel-claire-6126306.jpg" class="gallery-lightbox">
                <img src="/assets/img/pexels-rachel-claire-6126306.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/pexels-rdne-stock-project-6004758.jpg" class="gallery-lightbox">
                <img src="/assets/img/pexels-rdne-stock-project-6004758.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/pexels-rdne-stock-project-7915390.jpg" class="gallery-lightbox">
                <img src="/assets/img/pexels-rdne-stock-project-7915390.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/pexels-rdne-stock-project-7915493.jpg" class="gallery-lightbox">
                <img src="/assets/img/pexels-rdne-stock-project-7915390.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/pexels-shvets-production-7562061.jpg" class="gallery-lightbox">
                <img src="/assets/img/pexels-shvets-production-7562061.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          
          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/pexels-tima-miroshnichenko-6498310.jpg" class="gallery-lightbox">
                <img src="/assets/img/pexels-tima-miroshnichenko-6498310.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/pexels-vincent-ma-janssen-1310777.jpg" class="gallery-lightbox">
                <img src="/assets/img/pexels-vincent-ma-janssen-1310777.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/Pool Day.jpeg " class="gallery-lightbox">
                <img src="/assets/img/Pool Day.jpeg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/red.jpeg" class="gallery-lightbox">
                <img src="/assets/img/red.jpeg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/testimonials-bg.jpg" class="gallery-lightbox">
                <img src="/assets/img/testimonials-bg.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>
        
          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/The Absolute Best Dine-In Movie Theater in New York.jpeg" class="gallery-lightbox">
                <img src="/assets/img/The Absolute Best Dine-In Movie Theater in New York.jpeg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/Untitled design (15).png" class="gallery-lightbox">
                <img src="/assets/img/Untitled design (15).png alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/Untitled design (16).png" class="gallery-lightbox">
                <img src="/assets/img/Untitled design (16).png" alt="" class="img-fluid">
              </a>
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/Untitled design (17).png" class="gallery-lightbox">
                <img src="/assets/img/Untitled design (17).png" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/Untitled design (18).png" class="gallery-lightbox">
                <img src="/assets/img/Untitled design (18).png" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/Untitled design (19).png" class="gallery-lightbox">
                <img src="/assets/img/Untitled design (19).png" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          
          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/Untitled design (20).png" class="gallery-lightbox">
                <img src="/assets/img/Untitled design (20).png" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/Untitled design (4).png" class="gallery-lightbox">
                <img src="/assets/img/Untitled design (4).png" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/Untitled design (5).png" class="gallery-lightbox">
                <img src="/assets/img/Untitled design (5).png" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/Untitled design (6).png" class="gallery-lightbox">
                <img src="/assets/img/Untitled design (6).png" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/Untitled design (8).png" class="gallery-lightbox">
                <img src="/assets/img/Untitled design (8).png" alt="" class="img-fluid">
              </a>
            </div>
          </div>
        
          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/Untitled design (7).png" class="gallery-lightbox">
                <img src="/assets/img/Untitled design (7).png "alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/Untitled design (9).png" class="gallery-lightbox">
                <img src="/assets/img/Untitled design (9).png" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/Untitled design.jpg" class="gallery-lightbox">
                <img src="/assets/img/Untitled design.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/museum.png" class="gallery-lightbox">
                <img src="/assets/img/museum.png" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/Museum (2).png" class="gallery-lightbox">
                <img src="/assets/img/Museum (2).png" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/museum3.png" class="gallery-lightbox">
                <img src="/assets/img/museum3.png" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/museum4.png" class="gallery-lightbox">
                <img src="/assets/img/museum4.png" alt="" class="img-fluid">
              </a>
            </div>
          </div>
        
          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/video-games.jpg" class="gallery-lightbox">
                <img src="/assets/img/video-games.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

         
        </div>
        
      </div>
      
    </section><!-- End Gallery Section -->
    

  </main><!-- End #main -->

  