

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <ol id="hero-carousel-indicators" class="carousel-indicators">
          <li ng-repeat="indicator in heroCarouselIndicators" data-bs-target="#heroCarousel"
              data-bs-slide-to="{{indicator.index}}" ng-class="{ 'active': indicator.active }"></li>
        </ol>

        <div class="carousel-inner" role="listbox">

          <!-- Slide 1 -->
          <div class="carousel-item  active" style="background-image: url(assets/img/slide/slide1.png);">            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown"><span>Home</span> Away From <span>Home</span></h2>
                <p class="animate__animated animate__fadeInUp">Indulge in the luxurious amenities and thoughtfully designed spaces we offer. Unwind in our spacious and well-appointed rooms and attractions, where every detail has been carefully considered to ensure your comfort. Whether you're here for business or leisure, our park provides a serene oasis where you can recharge and rejuvenate.</p>
                <div>
                  <a href="#!gallery" class="btn-menu animate__animated animate__fadeInUp scrollto">Gallery</a>
                  <a href="#!tickets" class="btn-book animate__animated animate__fadeInUp scrollto">Book a Ticket</a>
                </div>
              </div>
            </div>
          </div>

          <!-- Slide 2 -->
          <div class="carousel-item" style="background-image: url(assets/img/slide/slide2.png);">            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">Central Childrem Playground</h2>
                <p class="animate__animated animate__fadeInUp">Whether you're a seasoned space enthusiast or just curious about the cosmos, the Cosmic Adventure Hub promises an experience that ignites your sense of wonder and curiosity. So, fasten your seatbelts and get ready to embark on a journey through the cosmos right here at our amusement park. The stars await your exploration.</p>
                <div>
                  <a href="#!gallery" class="btn-menu animate__animated animate__fadeInUp ">Galerry</a>
                  <a href="#!tickets" class="btn-book animate__animated animate__fadeInUp ">Book a Ticket</a>
                </div>
              </div>
            </div>
          </div>

          <!-- Slide 3 -->
          <div class="carousel-item" style="background-image: url(assets/img/slide/slide3.png);">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">Mystical Forest Retreat</h2>
                <p class="animate__animated animate__fadeInUp">In the heart of our amusement park lies the Mystical Forest Retreat, a sanctuary where time slows down, and the ordinary transforms into the extraordinary. As you wander through the winding pathways, you'll discover hidden glades, sparkling waterfalls, and bridges that lead to places unknown.</p>
                <div>
                  <a href="#gallery" class="btn-menu animate__animated animate__fadeInUp scrollto">Gallery</a>
                  <a href="#!tickets" class="btn-book animate__animated animate__fadeInUp scrollto">Book a TIcket</a>
                </div>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">



    <!--  Why Us Section  -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="section-title">
          <h2>Why choose <span>KeansBurg Park</span></h2>
          <p>Our Park offers a wide Range of unique and variety of activities , natural beauty , great accessibility,
            top notch safety , wellness and relaxation , excellent community atmosphere and indeed well maintained
            facilities to offer fulfilling experience and life-long memories.</p>
        </div>

        <div class="row">

          <div class="col-lg-4">
            <div class="box">
              <span>01</span>
              <h4>Dragon Arena</h4>
              <p>The fire of adventure is designed to provide a wide range of Thrilling Rides , Dragon swing , fire
                rollercoaster ,
                Dancing Tail , Dinosaur park , Dragon shop and lots more.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box">
              <span>02</span>
              <h4>KeansBurg Business Resort</h4>
              <p>The heartbeat of the east Where work meets pleasure in leisure , we are designed to cater to the
                travelers, families, organization and
                We offer an array of services that go beyond Earth's imagination</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box">
              <span>03</span>
              <h4>KeansBurg Waterpark</h4>
              <p>Splash of Sunshine in a scorching summer, in the heart of the east , A waterpark like no other"
                KeansBurg waterpark" known for its serene pools and definitely unforgetticket experiences . </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->

    
    
    <!-- ======= Specials Section ======= -->
    <section id="specials" class="specials">
      <div class="container">

        <div class="section-title">
          <h2>Some  <span>Attrations</span> in our pack</h2>
          <p>Welcome to an adventure-filled world where excitement knows no bounds! At Keansburg Pack, 
            we take pride in offering an array of attractions that will leave you breathless
             with wonder and exhilaration.</p>
        </div>

        <div class="row">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Water Pack</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Keansburg Zoo</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Video Game hub</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Cinema Hall</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Our Art Gallery</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Cooling Oasis</h3>
                    <p class="fst-italic">Our water attractions offer an array of benefits that
                       promise a day of unforgettable adventure and relaxation.</p>
                    <p> Beat the scorching sun and escape the heat by plunging into our refreshing water attractions.
                       Whether you prefer the thrill of water slides or the tranquility of lazy rivers, our water park 
                       is your oasis of cool, providing respite from the summer heat.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="/assets/img/Untitled design (18).png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Experience the Wild</h3>
                    <p class="fst-italic">Prepare to embark on a captivating journey into the heart of the animal kingdom 
                      at the renowned Keansburg Zoo, an integral part of our diverse amusement pack</p>
                    <p>Step into a realm where nature reigns supreme. The Keansburg Zoo boasts a remarkable
                       collection of exotic and native species from 
                      around the globe, providing visitors with a rare opportunity to witness these 
                      magnificent creatures up close.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="/assets/img/Untitled design (16).png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Level Up Your Fun: Video Games Galore!</h3>
                    <p class="fst-italic">Get ready to embark on a gaming adventure like no other,
                       where entertainment meets innovation, and fun knows no limits.</p>
                    <p>Gaming is not just about fun; it's also an excellent way to relieve stress. Dive into a 
                      virtual world where you can leave your worries behind and focus on challenges, puzzles, and adventures that engage your mind.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="/assets/img/video-games.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Cinema Hall: Where Magic Meets Entertainment</h3>
                    <p class="fst-italic">Step into a world of cinematic wonder at the Cinema Hall, one of the crown jewels of our amusement pack. Situated amidst the thrill and excitement of our park, the Cinema Hall offers
                       a unique and immersive experience that combines the magic of movies with the joy of being in an amusement park.</p>
                    <p>Whether you're young or young at heart, our Cinema Hall offers a wide selection of films catering to various age
                       groups and tastes. From animated family-friendly features to edge-of-your-seat thrillers, there's 
                       always a movie for everyone.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="/assets/img/The Absolute Best Dine-In Movie Theater in New York.jpeg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-5">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Elevate Your Experience</h3>
                    <p class="fst-italic">Step into a world where creativity knows no bounds, and inspiration flows endlessly at 
                      Keansburg's Art Gallery. Nestled within our sprawling amusement pack, this hidden gem offers a respite from 
                      the adrenaline-filled thrills, inviting visitors to embark on a journey of artistic exploration.</p>
                    <p>As you enter our art gallery, you'll be greeted by an exquisite collection of artworks 
                      that span genres, styles, and eras. From stunning paintings and sculptures to thought-provoking
                       installations, each piece has been carefully curated to ignite your imagination and engage your senses.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="/assets/img/image_VEE2Dmy7_1693863499889_raw.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Specials Section -->

    <!-- ======= Events Section ======= -->
 
 <section id="events" class="events">
  <div class="container">

    <div class="section-title">
      <h2>Organize Your <span>Events</span> in our Pack</h2>
    </div>

    <div class="events-slider swiper swiper-slider">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="row event-item">
            <div class="col-lg-6">
              <img src="assets/img/event-birthday.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content">
              <h3>Birthday Parties</h3>
              <div class="price">
                <p><span>$189</span></p>
              </div>
              <p class="fst-italic">
                Are you ready to turn your special day into an unforgettable adventure? Look no further than
                 Keansburg Pack for the ultimate birthday celebration that will leave you and your guests in awe.
              </p>
              <ul>
                <li><i class="bi bi-check-circle"></i> Endless Entertainment.</li>
                <li><i class="bi bi-check-circle"></i> Customizable Packages.</li>
                <li><i class="bi bi-check-circle"></i> Stress-Free Planning.</li>
              </ul>
              <p>
                Want to add a touch of magic to your birthday? Explore our themed celebration options, 
                from enchanting fairy tales to thrilling adventures. Your party can be as unique as you are.
              </p>
            </div>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="row event-item">
            <div class="col-lg-6">
              <img src="assets/img/event-private.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content">
              <h3>Private Parties</h3>
              <div class="price">
                <p><span>$290</span></p>
              </div>
              <p class="fst-italic">
                Are you searching for the perfect venue to make your special occasion truly unforgettable? Look no further than 
                Keansburg Pack, where we offer an enchanting backdrop for all your celebratory needs. 
              </p>
              <ul>
                <li><i class="bi bi-check-circle"></i> Spectacular Setting.</li>
                <li><i class="bi bi-check-circle"></i> Versatile Venues.</li>
                <li><i class="bi bi-check-circle"></i> Thrilling Entertainment.</li>
              </ul>
              <p>
                We offer a variety of customizable party packages to fit your budget and preferences.
                 No matter the size of your party, we have a solution that suits your needs.
              </p>
            </div>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="row event-item">
            <div class="col-lg-6">
              <img src="assets/img/event-custom.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content">
              <h3>Custom Parties</h3>
              <div class="price">
                <p><span>$99</span></p>
              </div>
              <p class="fst-italic">
                . Welcome to our Custom Parties service, where we transform our park into the canvas for your dream celebration.
                 Whether it's a birthday bash, a corporate event, a family reunion, or any other occasion worth celebrating, our Custom Parties have you covered.
              </p>
              <ul>
                <li><i class="bi bi-check-circle"></i> Personalized Perfection.</li>
                <li><i class="bi bi-check-circle"></i> Themed Decor.</li>
                <li><i class="bi bi-check-circle"></i> Budget-Friendly Options.</li>
              </ul>
              <p>
                Make your event come alive with a variety of entertainment options. From live bands and DJs to magicians and themed characters,
                 we can customize the entertainment lineup to match your event's theme and atmosphere
              </p>
            </div>
          </div>
        </div><!-- End testimonial item -->

      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>
</section><!-- End Events Section -->

   

    <!-- ======= Gallery Section ======= -->

    <section id="gallery" class="gallery">

      <div class="container-fluid">

        <div class="section-title">
          <h2>Some photos from <span>Our Pack</span></h2>
          <p>From the exhilarating screams on roller 
            coasters to the beaming smiles of families enjoying together, these images tell stories 
            that words alone cannot convey.</p>
        </div>

        <div class="row g-0">

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/Untitled design (5).png" class="gallery-lightbox">
                <img src="/assets/img/Untitled design (5).png" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/hjhjhjhjhjhjhjhj.jpg" class="gallery-lightbox">
                <img src="/assets/img/hjhjhjhjhjhjhjhj.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/events-bg.jpg" class="gallery-lightbox">
                <img src="/assets/img/events-bg.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/Untitled design (17).png" class="gallery-lightbox">
                <img src="/assets/img/Untitled design (17).png" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/Untitled design.jpg" class="gallery-lightbox">
                <img src="/assets/img/Untitled design.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/Untitled design (19).png" class="gallery-lightbox">
                <img src="/assets/img/Untitled design (19).png" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/Untitled design (4).png" class="gallery-lightbox">
                <img src="/assets/img/Untitled design (4).png" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/Untitled design (7).png" class="gallery-lightbox">
                <img src="/assets/img/Untitled design (7).png" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="section-title">
            <a href="#!gallery">
              <h4>See All Images</h4>
            </a>
          </div>

        </div>

      </div>
    </section><!-- End Gallery Section -->



    <!--  Testimonials Section -->
    <section id="testimonials" class="testimonials" ng-controller="SliderController">
      <div class="container position-relative">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>Peter James</h3>
                <h4>Ceo &amp; Netflix</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  The attractions were mind-blowing, especially the roller coasters. I've never felt such a rush of adrenaline in my life! 
                  And the water park? It was the perfect way to beat the heat and have a blast with my family.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                <h3>Thoedora Jones</h3>
                <h4>Visitor</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  What made our visit even more memorable was the opportunity to host a custom party for our daughter's birthday. The event planning team 
                  went above and beyond to make it a magical day for her, and seeing her face light up with joy was priceless.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                <h3>Peter Crouch</h3>
                <h4>Guest</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  From the moment we stepped through the gates, we were swept away by the magic and excitement that filled the air. 
                  The attractions were top-notch, offering thrills for every member of our family.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Guest</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  The custom party we organized for our daughter's birthday was an absolute hit. The attention to detail, 
                  from the personalized decor to the delicious dining options, left us all in awe. 
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                <h3>Victor Depp</h3>
                <h4>Entrepreneur</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  The video games section was a highlight for our teenagers. They were immersed in a world of virtual adventures, 
                  and the state-of-the-art technology truly took their gaming experience to the next level.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <section class="home-contact-area pb-100">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-lg-6 ps-0 contact-img">
            <div class="contact-img">
              <img src="assets/img/chefs/chefs-3.jpg" alt="contact" />
            </div>
          </div>
          <div class="col-lg-6 contact-form">
            <div class="home-contact-content">
              <h2>What Do You Want to Know?</h2>
              <form id="contactForm">
                <div class="row">
                  <div class="col-lg-6 col-sm-6">
                    <div class="form-group">
                      <input type="text" name="name" id="name" class="form-control" required
                        data-error="Please enter your name" placeholder="Your Name" />
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-sm-6">
                    <div class="form-group">
                      <input type="email" name="email" id="email" class="form-control" required
                        data-error="Please enter your email" placeholder="Your Email" />
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-sm-6">
                    <div class="form-group">
                      <input type="text" name="phone_number" id="phone_number" required
                        data-error="Please enter your number" class="form-control" placeholder="Your Phone" />
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-sm-6">
                    <div class="form-group">
                      <input type="text" name="msg_subject" id="msg_subject" class="form-control" required
                        data-error="Please enter your subject" placeholder="Your Subject" />
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                      <textarea name="message" class="form-control" id="message" cols="30" rows="5" required
                        data-error="Write your message" placeholder="Your Message"></textarea>
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12">
                    <button type="submit" class=" text-center box-btn">
                      Send Message
                    </button>
                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>



  </main><!-- End #main -->
<!-- </div> -->

  