

  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Restaurant</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Restaurant</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

    
  

     <!-- ======= Specials Section ======= -->
     <section id="specials" class="specials">
      <div class="container">

        <div class="section-title">
          <h2>Check our <span>Specials</span></h2>
          <p>Here, we invite you to savor not only the thrills
             of our attractions but also the flavors of exceptional
             cuisine that will tantalize your taste buds and elevate your park experience to new heights.</p>
        </div>

        <div class="row">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Japanese Sushi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Indian Butter Chicken</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Mexican Tacos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Italian Margherita Pizza</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Thai Green Curry</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Sushi Rolls</h3>
                    <p class="fst-italic"> Japanese sushi is a delicate blend of flavors. The rice is seasoned with vinegar and sugar, providing a slightly sweet and tangy taste. 
                      The fresh, raw fish (such as salmon, tuna, or yellowtail) offers a clean, oceanic flavor. </p>
                    <p>Sushi rolls are visually stunning. They consist of vinegared rice rolled in seaweed (nori) and filled 
                      with various ingredients like fish, vegetables, and avocado. The rolls 
                      are sliced into bite-sized pieces, displaying a beautiful cross-section of colors and textures.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="/assets/img/sushi-rolls.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Murgh Makhani</h3>
                    <p class="fst-italic"> Butter chicken is rich and creamy with a mildly spiced tomato-based sauce. 
                      The tender pieces of chicken are marinated in yogurt and spices, 
                      creating a harmonious blend of savory, slightly tangy, and buttery flavors.</p>
                      <p>The dish is a vibrant orange-red color with succulent chicken pieces swimming in a 
                        velvety tomato sauce. Garnished with fresh cilantro, it's a visually enticing dish.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="/assets/img/butter-chicken.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Tacos</h3>
                    <p class="fst-italic">Tacos offer a burst of flavors. The seasoned ground meat (like beef or pork) is usually slightly spicy and savory. Combined with fresh salsa, guacamole, and toppings like cheese and sour cream, 
                      you get a balance of textures and tastes, including the richness of meat and the freshness of vegetables.</p>
                    <p>Tacos are a delightful mess of colors and textures. They consist of soft or crispy tortillas filled with the meat mixture, vibrant salsa, and a variety of toppings. 
                      The garnishes add pops of green, red, and white, making them visually appealing.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="/assets/img/Mexican-tacos.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Margherita Pizza</h3>
                    <p class="fst-italic">The Margherita pizza is a simple yet exquisite dish. The crust is thin and crispy, while the toppings are minimal - just tomato sauce, fresh mozzarella cheese,
                       basil leaves, and a drizzle of olive oil. It has a clean, fresh, and slightly tangy flavor profile.</p>
                    <p>This pizza is a work of art. The bright red tomatoes, creamy white cheese, and vibrant green basil 
                      leaves create a visually stunning tricolor masterpiece on a golden-brown crust.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="/assets/img/margherita-pizza.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-5">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Green Curry</h3>
                    <p class="fst-italic">Thai green curry is a bowl of vibrant green goodness. The curry is thick and luscious, with colorful vegetables and protein peeking through. 
                      It's typically served with aromatic jasmine rice.</p>
                    <p>Thai green curry is a symphony of flavors. The creamy coconut milk base is infused with a fragrant green curry paste, 
                      offering a combination of spicy, sweet, and slightly tangy notes.
                       The addition of vegetables and choice of protein (chicken, shrimp, or tofu) adds depth and texture to the dish</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="/assets/img/Thai-Green-Curry-.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Specials Section -->

     <!-- ======= Gallery Section ======= -->

     <section id="gallery" class="gallery">
      
      <div class="container-fluid">

        <div class="section-title">
          <h2>Some photos from <span>Our Restaurant</span></h2>
          <p>Much more than just a place to enjoy a meal, this gallery is a 
            celebration of artistry and gastronomy, where aesthetics and flavors come together in perfect harmony.</p>
        </div>

        <div class="row g-0">

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/pexels-rachel-claire-6126306.jpg" class="gallery-lightbox">
                <img src="/assets/img/pexels-rachel-claire-6126306.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/pexels-pranav-jain-1707957.jpg" class="gallery-lightbox">
                <img src="/assets/img/pexels-pranav-jain-1707957.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/pexels-chan-walrus-958545.jpg" class="gallery-lightbox">
                <img src="/assets/img/pexels-chan-walrus-958545.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/pexels-huỳnh-đạt-2313037.jpg" class="gallery-lightbox">
                <img src="/assets/img/pexels-huỳnh-đạt-2313037.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/pexels-vincent-ma-janssen-1310777.jpg" class="gallery-lightbox">
                <img src="/assets/img/pexels-vincent-ma-janssen-1310777.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/pexels-rdne-stock-project-6004758.jpg" class="gallery-lightbox">
                <img src="/assets/img/pexels-rdne-stock-project-6004758.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/pexels-burak-the-weekender-735869.jpg" class="gallery-lightbox">
                <img src="/assets/img/pexels-burak-the-weekender-735869.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="/assets/img/pexels-life-of-pix-67468.jpg" class="gallery-lightbox">
                <img src="/assets/img/pexels-life-of-pix-67468.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="section-title">
            <a href="#/"><h4>See All Images</h4></a>  
          </div>

        </div>

      </div>
    </section>
    <!-- End Gallery Section -->
    

    <section class="home-contact-area pb-100">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-lg-6 ps-0 contact-img">
            <div class="contact-img">
              <img src="assets/img/chefs/chefs-3.jpg" alt="contact" />
            </div>
          </div>
          <div class="col-lg-6 contact-form">
            <div class="home-contact-content">
              <h2>What Do You Want to Know?</h2>
              <form id="contactForm">
                <div class="row">
                  <div class="col-lg-6 col-sm-6">
                    <div class="form-group">
                      <input type="text" name="name" id="name" class="form-control" required
                        data-error="Please enter your name" placeholder="Your Name" />
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-sm-6">
                    <div class="form-group">
                      <input type="email" name="email" id="email" class="form-control" required
                        data-error="Please enter your email" placeholder="Your Email" />
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-sm-6">
                    <div class="form-group">
                      <input type="text" name="phone_number" id="phone_number" required
                        data-error="Please enter your number" class="form-control" placeholder="Your Phone" />
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-sm-6">
                    <div class="form-group">
                      <input type="text" name="msg_subject" id="msg_subject" class="form-control" required
                        data-error="Please enter your subject" placeholder="Your Subject" />
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                      <textarea name="message" class="form-control" id="message" cols="30" rows="5" required
                        data-error="Write your message" placeholder="Your Message"></textarea>
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12">
                    <button type="submit" class=" text-center box-btn">
                      Send Message
                    </button>
                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    
  </main>
  <!-- End #main -->
