
  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Ticket Pricing</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Tickets</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <div class="section-title">
      <h2>Unlock Your Adventure: <span> Tickets to Keansburg Pack</span></h2>
      <p>Choose from a range of ticket options to suit your preferences. Whether you're 
        planning a solo adventure, a family outing, or a special celebration, we have the perfect ticket package 
        for you. Explore our flexible options, including one-day passes, multi-day passes, and season passes.</p>
    </div>

    <section class="price-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="single-price">
              <div class="price-head">
                <h2>Weekdays Frenzy</h2>
                <p>$99</p>
              </div>
              <ul class="price-list">
                <li>
                  <p><i class="bx bx-check-double"></i>Express Entry Lanes</p>
                </li>
                <li>
                  <p><i class="bx bx-check-double"></i>Exclusive Discounts on Dining</p>
                </li>
                <li>
                  <p><i class="bx bx-check-double"></i>Midweek Wellness Activities</p>
                </li>
                <li>
                  <p><i class="bx bx-check-double"></i>Interactive Games Galore</p>
                </li>
                <li>
                  <p><i class="bx bx-check-double"></i>Relaxing Environment</p>
                </li>
                <li>
                  <p><i class="bx bx-check-double"></i>Calm Midweek Adventures</p>
                </li>
                <li>
                  <p><i class="bx bx-check-double"></i>Priority Ride Access</p>
                </li>
              </ul>
              <a href="#!bookings" class="box-btn">Select Plan</a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="single-price">
              <div class="price-head">
                <h2>Weekend Extravaganzas</h2>
                <p>$160</p>
              </div>
              <ul class="price-list">
                <li>
                  <p><i class="bx bx-check-double"></i>Extended Park Hour</p>
                </li>
                <li>
                  <p><i class="bx bx-check-double"></i>Complimentary Souvenirs</p>
                </li>
                <li>
                  <p><i class="bx bx-check-double"></i>Gourmet Dining Options</p>
                </li>
                <li>
                  <p><i class="bx bx-check-double"></i>Premium Ride Selection</p>
                </li>
                <li>
                  <p><i class="bx bx-check-double"></i>VIP Access Included</p>
                </li>
                <li>
                  <p><i class="bx bx-check-double"></i>Special Tour Assistant</p>
                </li>
                <li>
                  <p><i class="bx bx-check-double"></i>A Comfortable Apartment</p>
                </li>
              </ul>
              <a href="#!bookings" class="box-btn">Select Plan</a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="single-price sst-10">
              <div class="price-head">
                <h2>Family Fun-tastic</h2>
                <p>$260</p>
              </div>
              <ul class="price-list">
                <li>
                  <p><i class="bx bx-check-double"></i> Creative Workshops for Kids</p>
                </li>
                <li>
                  <p><i class="bx bx-check-double"></i>Family Bonding Adventures</p>
                </li>
                <li>
                  <p><i class="bx bx-check-double"></i>Family Entertainers</p>
                </li>
                <li>
                  <p><i class="bx bx-check-double"></i>Wholesome Dining Choices</p>
                </li>
                <li>
                  <p><i class="bx bx-check-double"></i>Family Photo Opportunities</p>
                </li>
                <li>
                  <p><i class="bx bx-check-double"></i>Free Entry To Our Water Pack</p>
                </li>
                <li>
                  <p><i class="bx bx-check-double"></i>Complimentary Face Painting</p>
                </li>
              </ul>
              <a href="#!bookings" class="box-btn">Select Plan</a>
            </div>
          </div>
        </div>
      </div>
    </section>



    
 

  


  </main><!-- End #main -->

  